@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
:root{
    --Blue-950: hsl(233, 26%, 24%);
    --Green-500: hsl(136, 64%, 51%);
    --Cyan-400: hsl(192, 69%, 51%);
    --Gray-600: hsl(233, 8%, 62%);
    --Gray-100: hsl(220, 16%, 96%);
    --Gray-50: hsl(0, 0%, 98%);
    --White: hsl(0, 100%, 100%);

}

/* Nav-bar */
nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background: var(--White);
}

nav ul{
    display: flex;
}
nav ul li{
    margin: 0 20px;
}

nav ul li a{
    color:var(--Gray-600);
}
.btn{
    padding: 15px 30px;
    border-radius: 30px;
    color: var(--White);
    background: linear-gradient(to top right, var(--Cyan-400)20%, var(--Green-500));
}
.menu-btn{
    width: 40px;
    cursor: pointer;
    display: none;

}
/* Header */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--Gray-50);
}
.header-text{
    width: 21%;
    margin:300px  150px ;
}
.header-text h1{
    font-weight: 400;
    font-size: 5vmin;
    color: var(--Blue-950);
    margin-bottom: 30px;
}
.header-text p{
    color: var(--Gray-600);
    line-height: 1.6;
    margin-bottom: 20px;
}
.bg-intro{
    position: absolute;
    width: 75%;
    top: -250px;
    right: -300px;
    z-index: 0;
}
.bg{
    position: absolute;
    width: 50%;
    top: -200px;
    right: -150px;
    z-index: 2;
}
/* About */
.about{
    background: var(--Gray-100);
    padding: 80px 150px;
}
.about-text h2{
    font-weight: 300;
    font-size: 3vmin;
    color: var(--Blue-950);
    margin-bottom: 30px;
}
.about-text p{
    color: var(--Gray-600);
    line-height: 1.6;
    margin-bottom: 20px;
    width: 40%;
    margin-bottom: 60px;
}
.row{
    display: flex;
}
.col{
    width: 25%;
    padding: 0 30px;
}
.about .col h3{
    font-weight: 300;
    font-size: 18px;
    color: var(--Blue-950);
    margin-bottom: 30px;
    margin-top: 30px;
}
.about .col p{
    color: var(--Gray-600);
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Blog */
.blog{
    background: var(--Gray-50);
    padding: 80px 150px;
}
.blog h2{
    font-weight: 300;
    font-size: 3vmin;
    color: var(--Blue-950);
    margin-bottom: 50px;
}
.blog img{
    width: 350px;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blog .text{
    width: 350px;
    background: var(--White);
    padding: 40px;
}
.blog h6{
    color: var(--Gray-600);
    margin-bottom: 20px;
    font-weight: 300;
}
.blog h4{
    font-weight: 400;
    font-size: 18px;
    color: var(--Blue-950);
    margin-bottom: 10px;
}
.blog p{
    color: var(--Gray-600);
    line-height: 1.2;
}


/* Footer */
footer{
    background: var(--Blue-950);
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.contact{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.icons .logo{
    margin-bottom: 50px;
}
.icon{
    margin: 0 5px;
}
footer ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer li{
    margin-bottom: 10px;
}
footer li a{
    color: var(--Gray-600);
}
.copyright p{
    color: var(--Gray-600);
    margin-top: 20px;
}
.copyright .btn{
    margin-left: 80px;
}

/* Responaive */
@media (max-width: 375px) {
    /* Navbar */
    .menu-btn {
        display: block;
    }
    nav .btn{
        display: none;
    }
    nav .outside{
        display: none;
    }
    nav .mobile-menu ul{
        flex-direction: column;
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 80px; /* below navbar */
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: var(--White);
        border-radius: 10px;
        box-shadow: 0 8px 32px rgba(0,0,0,0.2);
        z-index: 100;
        padding: 20px 0 20px 0;
    }
    .mobile-menu li a {
        color: var(--Blue-950);
        font-size: 1.3rem;
        font-weight: 500;
    }
    .mobile-menu li{
        margin: 15px;
        text-align: center;
    }
    .close-btn {
        position: absolute;
        top: 18px;
        right: 18px;
        font-size: 2rem;
        cursor: pointer;
        color: var(--Blue-950);
    }
    /* Header */
    header{
        height: 50vh;
    }
    .bg-intro{
        width: 100%;
        top: 0;
        right: 0;
    }
    .bg{
        width: 90%;
        top: -50px;
        right: 5%;
    }
    .header-text{
        width: 90%;
        position: absolute;
        top: 300px;
        margin: 100px 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-text h1{
        font-size: 10vmin;
    }
    .header-text p{
        width: 90%;
        margin-bottom: 30px;
        line-height: 1.2;
    }

    /* About */
    .about{
        padding: 80px 0;
    }
    .about-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 5%;
    }
    .about-text h2{
        font-size: 8vmin;
        font-weight: 400;
    }
    .about-text p{
        width: 90%;
        line-height: 1.2;
    }
    .row{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .row .col{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .about .col h3{
        font-size: 25px;
    }
    .about .col p{
        line-height: 1.2;
    }

    /* Blog */
    .blog{
        padding: 80px 0;
    }
    .blog .col{
        text-align: start;
    }
    .blog h2{
        font-size: 8vmin;
        font-weight: 400;
        text-align: center;
    }
    
    /* Footer */
    footer{
        height: 40vh;
        flex-direction: column;
        padding: 70px 0;
        align-items: center;
    }
    .contact{
        flex-direction: column;
        align-items: center;
    }
    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        margin-bottom: 50px;
    }
    ul{
        align-items: center;
    }
    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .copyright .btn{
        margin: auto;
    }
}



/* Animation */

nav ul li {
    position: relative;
}
nav ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: linear-gradient(to right, var(--Cyan-400), var(--Green-500));
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 2px;
}
nav ul li:hover::after {
    width: 100%;
    cursor: pointer;

}

.btn {
    position: relative;
    overflow: hidden;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to top right, var(--White));
    opacity: 0.5;
    z-index: 0;
}
.btn:hover::after {
    width: 100%;
    cursor: pointer;
    
}
.icon:hover{
    cursor: pointer;
}
.blog h4:hover{
    color: var(--Cyan-400);
    cursor: pointer;

}
footer ul li a:hover{
    color: var(--Cyan-400);
    cursor: pointer;

}
